<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div id='main'>
    <ul>
        {% for value in values %}
        <li><a href='{{request.path}}/{{value}}'>{{value}}</a></li>
        {% endfor %}
    </ul>
    </div>

    <br>
    <br>
    <a href="/{{type}}/view_cart">CART</a>

    <br>
    <br>
    <form action="/{{type}}/file_upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="text" name="sequence" />
        <input type="hidden" name="grade" value="{{grade}}" />
        <input type="submit" />
    </form>

</body>
</html>