<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script>
        function makeQuestion() {
            document.forms["process"].action = "/{{type}}/image_list";
            document.forms["process"].submit();
        }

        function deleteImage() {
            document.forms["process"].action = "/{{type}}/delete_image";
            document.forms["process"].submit();
        }

        function addCart() {
            document.forms["process"].action = "/{{type}}/add_cart";
            document.forms["process"].submit();
        }
    </script>
</head>
<body>
    <form name="process" method="post" action="/{{type}}/image_list">
    <input type="hidden" name="grade" value="{{grade}}" />
    <input type="hidden" name="sequence" value="{{sequence}}" />
    <div id='main'>
    <table border='1'>
        {% for value in values %}
        <tr>
            <td><input type="checkbox" name="question" value="{{request.path}}/{{value}}"/></td>
            <td><img width="500" src="{{request.path}}/{{value}}"/></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <input type="button" id="make" onclick="makeQuestion();" value="MAKE QUESTION"/>
    <input type="button" id="delete" onclick="deleteImage();" value="DELETE FILE"/>
    <input type="button" id="add" onclick="addCart();" value="ADD CART"/>
    </form>
</body>
</html>