{% extends 'layout.html' %}

{% block content %}
<form action="search" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="keywordInput">키워드 검색</label>
    <input type="text" name="keyword" class="form-control" value="{{keyword}}" id="keywordInput" placeholder="도서 검색 키워드를 입력하세요">
  </div>
  <button type="submit" class="btn btn-default">제출</button>
</form>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h2" href="#">{{ post.originalTitle }}</a>
            <p class="text-justify">{{ post.originalAuthor }}</p>
            <p class="text-justify">{{ post.originalPublisher }} | {{ post.pubYear }}</p>
            <p class="text-justify">{{ post.callNo }}</p>
            <p class="text-justify">[{{ post.libName }}] {{ post.shelfLocName }}</p>
            <p class="text-justify">{{ post.loanStatus }} [{{ post.workingStatus }}]</p>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <img class="rounded mx-auto" src="{{post.coverUrl}}" data-src="holder.js/64x64" width="128px" height="auto">
            <p class="text-muted text-center">{{ post.isbn }}</p>
          </div>
        </div>
        <small class="text-muted"></small>
      </article>
      {% endfor %}
    </div>

    <!--
    <aside class="col-md-4 my-3">
      <h2>사이드 바</h2>
      <ul class="list-group">
        <li class="list-group-item">사이드바 아이템1</li>
        <li class="list-group-item">사이드바 아이템2</li>
        <li class="list-group-item">사이드바 아이템3</li>
        <li class="list-group-item">사이드바 아이템4</li>
      </ul>
    </aside>
    -->
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}
